# .NET
bin/
obj/
*.user
*.cache
*.log
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.asproj.user
*.csproj.user
*.mdproj.user
*.misc.user
*.ipc

# NuGet
*.nupkg
*.nuget.cache
packages/

# Build outputs
*.exe
*.dll
*.pdb
*.mdb

# Rider
.idea/

# Local development
*.publish.xml
